<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Resume</h2>
      <p>This website is my resume, but sometimes I need a PDF format.</p>
      <p><a class="btn btn-primary" href="Resume.pdf" role="button">View PDF Resume &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2><i class="fa fa-github" aria-hidden="true"></i> Github</h2>
      <p>Feel free to take a tour in my github profile</p>
      <p><a class="btn btn-primary" href="https://github.com/louay-hesham" role="button">To Github &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>
        <i class="fa fa-vcard" aria-hidden="true"></i> Contact Information
      </h2>
      <ul>
        <li>
          <b><i class="fa fa-envelope" aria-hidden="true"></i> Email:</b> louay.hesham@gmail.com
        </li>
        <li>
          <a href="https://www.linkedin.com/in/louay-hesham-03296410a/">
            <b><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin</b>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/lo2ay.hesham">
            <b><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</b>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>