<div>
  <h1>Request addition of a new bylaw</h1>
  <br><br>
  <div>
    <label>Select Bylaw year: </label>
    <div class="btn-group elective-group">
      <button *ngFor="let year of getMissingBylawsYears();"
              (click)="selectBylaw(year)" class="pointer"
              class="{{bylawButtonClass(year)}}"
              disabled="{{bylawButtonDisability(year)}}">

        {{year}}
      </button>
    </div>
  </div>
  <br><br>
  <div>
    <label for="file">Choose bylaw PDF file:</label>
    <input type="file" accept="application/pdf" (change)="handleFileInput($event.target.files)">
  </div>
  <br><br>
  <div>
    <button class="btn btn-danger" (click)="onNoClick()">Cancel</button>
    <button class="btn btn-primary" (click)="submit()">Upload</button>
  </div>
</div>
