<h1 mat-dialog-title>Request addition of a new bylaw</h1>
<div>
  <label>Select Bylaw year: </label>
  <div class="btn-group elective-group">
    <button *ngFor="let year of getMissingBylawsYears();"
            (click)="selectBylaw(year)" class="pointer"
            class="{{bylawButtonClass(year)}}"
            disabled="{{bylawButtonDisability(year)}}">

      {{year}}
    </button>
  </div>
  <label for="file">Choose bylaw PDF file:</label>
  <input type="file" (change)="handleFileInput($event.target.files)">
</div>
<div>
  <button class="btn btn-danger" (click)="onNoClick()">Cancel</button>
  <button class="btn btn-primary" (click)="submit()">Upload</button>
</div>
