<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand text-light">Louay Morsi</a>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" click-event [navbar-click]="'Home'" href="http://louay-morsi.me">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" click-event [navbar-click]="'Resume'" href="http://louay-morsi.me/Resume.pdf">
        	<i class="fa fa-file-pdf-o" aria-hidden="true"></i> Resume
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" click-event [navbar-click]="'Github'" href="https://github.com/louay-hesham">
        	<i class="fa fa-github" aria-hidden="true"></i> Github
        </a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="projects_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Selected Projects</a>
        <div class="dropdown-menu" aria-labelledby="projects_dropdown">
          <a class="dropdown-item" href="ssp_helper">SSP Helper</a>
          <a class="dropdown-item" href="https://github.com/louay-hesham/ScheduleGenerator">Schedule Generator</a>
          <a class="dropdown-item" href="https://github.com/louay-hesham/AlarmPlus">Alarm+</a>
          <a class="dropdown-item" href="https://github.com/tifa64/SIC-XE-Assembler-">SIC/XE Assembler</a>
          <a class="dropdown-item" href="https://github.com/louay-hesham/Paint">Paint</a>
        </div>
      </li> -->
    </ul>
  </div>
</nav>