.highlight {
  border-style: groove;
  border-color: black;
  background-color: white;
}

.pointer {
  cursor: pointer;
}

a.neat {
  color: inherit;
  text-decoration: none;
}

.btn-primary.elective {
  background-color: #1abc9c;
  border-color: #1abc9c;
}

.btn-primary.elective:hover {
  background-color: #16a085;
  border-color: #16a085;
}

.btn-warning.elective {
  background-color: #d5d500;
  border-color: #d5d500;
}

.btn-warning.elective:hover {
  background-color: #c0c000;
  border-color: #c0c000;
}

.btn-danger.elective {
  background-color: #aa0000;
  border-color: #aa0000;
}

.right {
  float:right;
}

.left {
  float:left;
}

.elective-group {
  margin-top: 5px;
  margin-bottom: 5px;
}

.bylaw-label {
  font-size: 20px;
}
