<div class="row">
	<b>Color codes:</b>
	<p style="color:#0000FF"> Passed </p>
	-
	<p style="color:#FFA500"> Requirements met </p>
	-
	<p style="color:#FF0000"> Requirements not met </p>
</div>

<div class="row">
	<p>Only select courses which you have already passed. Humanity courses are present in the bottom as they aren't prerequisites of any courses.</p>
</div>

<div class="row">

	<!-- <div class="col-md-4">
		<div>
			<h4>Elective Courses</h4>
			<span *ngFor="let course of coursesList()">
				<button *ngIf="course.level == 'e'"
			          class="{{buttonClass(course)}}"
			          (click)="buttonClicked(course)"
			          disabled="{{buttonDisability(course)}}"
			          style="margin: 5px">
			    <b>{{course.name}}</b>
			    <br>{{course.code}}
			  </button>
			</span>
		</div>
	</div> -->

	<div>
		<div *ngFor="let level of levels">
			<h4>{{levelName(level)}}</h4>
			<span *ngFor="let course of coursesList()">
				<button *ngIf="course.level == level"
			          class="{{buttonClass(course)}}"
			          (click)="buttonClicked(course)"
			          disabled="{{buttonDisability(course)}}"
			          style="margin: 5px">
			    <b>{{course.name}}</b>
			    <br>{{course.code}}
			  </button>
			</span>
		</div>
	</div>

</div>
