<b [pageview]="'Main App'">Instructions</b>
<ul>
	<li>
		<b>Color codes:</b><b style="color:#0000FF"> Passed </b>-<b style="color:#FFA500"> Requirements met </b>-<b style="color:#FF0000"> Requirements not met </b>
	</li>
	<li>Only select courses which you have already passed. As you select these courses, other courses will be available</li>
	<li>If taking an elective course in a term, select the elective courses first before the core ones</li>
	<li>Humanity courses are present in the bottom as they aren't prerequisites of any courses</li>
	<li>Deselecting a course will remove all other courses that depends on it</li>
	<li>Senior project 1 can only be registered after completing 129 credit hours</li>
</ul>

<div style="position: fixed; top: 65px; right: 1px;">
	<span style="background-color: cyan">
    <b>CHs complete: </b>
    {{getCH()}}
  </span>
</div>

<div *ngFor="let level of levels">

	<h4>{{levelName(level)}}</h4>
	<a  (click)="completeLevel(level)"
      *ngIf="completeLevelButtonVisibility(level)"
      style="cursor: pointer; color: #5588FF">
		(select the whole term)
	</a>

	<div class="row">
		<span *ngFor="let course of coursesList()">
			<button *ngIf="course.level == level"
		          class="{{buttonClass(course)}}"
		          (click)="course.togglePass()"
		          disabled="{{buttonDisability(course)}}"
		          style.cursor="{{buttonStyle(course.isAvailable())}}"
              style.margin="{{'5px'}}">
		    <b>{{course.name}}</b>
		    <br>{{course.code}}
		  </button>
		</span>
	</div>

</div>
