<div [pageview]="'Main App'">
  <instructions></instructions>

  <hr>

  <div>
    <b class="bylaw-label">Select Bylaw year: </b>
    <div class="btn-group elective-group">
      <button *ngFor="let bylaw of getAllBylaws();"
              (click)="selectBylaw(bylaw.year)" class="pointer"
              click-event [bylaw-action]="'load-bylaw'" [bylaw-data]="bylaw.year"
              class="{{bylawButtonClass(bylaw)}}"
              disabled="{{bylawButtonDisability(bylaw)}}"
              style.cursor="pointer">

        {{bylawButtonText(bylaw)}}
      </button>
    </div>
    <br>
    Can't find your bylaw?
    <button (click)="openBylawSubmitDialog()"
            class="btn btn-warning pointer"
            click-event [bylaw-action]="'submit-bylaw'" [bylaw-data]="'submit-btn-click'">
      Submit it now!
    </button>
  </div>
  <br>
  <b>Select department: </b>
  <div ngbDropdown class="d-inline-block">
      <button id="depDropdown" class="btn btn-outline-primary pointer" ngbDropdownToggle>
        {{departmentName}} ({{departmentCode}})
      </button>
      <div class="dropdown-menu" aria-labelledby="depDropdown" ngbDropdownMenu>
        <button *ngFor="let d of departmentsNames; let i = index"
                (click)="selectDepartment(i)"
                class="pointer dropdown-item"
                ngbDropdownItem>
          {{d}}
        </button>
      </div>
  </div>

  <div style="position: fixed; top: 65px; right: 1px;">
  	<span style="background-color: cyan">
      <b>CHs complete: </b>{{getCH()}}
    </span>
  </div>

  <hr>

  <div *ngFor="let level of levels">

  	<h4>{{levelName(level)}}</h4>
    <h5 *ngIf="level == 'e' && (departmentCode == 'CAE' || departmentCode == 'OCE')">
      Elective courses can be found in their respective terms, they will be coloured differently.
    </h5>
  	<a  *ngIf="completeLevelButtonVisibility(level)"
        click-event [term-click]="'Term ' + level"
        (click)="completeLevel(level)"
        style="cursor: pointer; color: #5588FF">
  		(select the whole term)
  	</a>

  	<div class="row">
  		<span *ngFor="let course of coursesList()">
  			<button *ngIf="course.level == level"
                click-event [course-click]="[departmentCode, course]"
  		          (click)="course.togglePass()"
                class="{{buttonClass(course)}}"
  		          disabled="{{buttonDisability(course)}}"
  		          style.cursor="{{buttonStyle(course.isAvailable())}}"
                style.margin="{{'5px'}}">
  		    <b>{{course.name}}</b>
  		    <br>
          <span class="left">{{course.code}}</span><span class="right">({{course.creditHours}} CH)</span>​
  		  </button>
  		</span>
  	</div>

    <div *ngIf="electivesDict()[level] != undefined">
      <div class="row btn-group elective-group" *ngFor="let electives of electivesDict()[level]">
        <button *ngFor="let course of electives"
                click-event [course-click]="[departmentCode, course]"
                (click)="course.togglePass()"
                class="{{buttonClass(course) + ' elective'}}"
                disabled="{{buttonDisability(course)}}"
                style.cursor="{{buttonStyle(course.isAvailable())}}">
          <b>{{course.name}}</b>
          <br>
          <span class="left">{{course.code}}</span><span class="right">({{course.creditHours}} CH)</span>​
        </button>
      </div>
    </div>

  </div>
</div>
