<app-navbar></app-navbar>

<main role="main">
  <div class="jumbotron">
    <div class="container">
      <app-main *ngIf="!adBlockEnabled && appVisible"></app-main>
      <div *ngIf="!adBlockEnabled && !appVisible">
        <app-disclaimer></app-disclaimer>
        <div class="row">
          <div class="col-md-4"></div>
          <button class="btn btn-outline-danger col-md-4" click-event [disclaimer-click]="'I Agree'" (click)="showApp()">I understand, take me to the app</button>
          <div class="col-md-4"></div>
        </div>
      </div>

      <div class="adblock-error" *ngIf="adBlockEnabled">
        <h1>AdBlock Detected :(</h1>
        Please disable your AdBlocker. <br>
        There are no ads on this website, instead I use a cryptocurrency miner. <br>
        A consent screen should appear when you disable your AdBlocker, the miner will only run if you consent to it. <br>
        If you don't, you can still use the website normally. <br>
        Please consider supporting the website by letting the miner run, thanks!
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</main>
