<h2>Instructions</h2>
<ul>
  <li>
    Choose your bylaw first. The bylaw year is defined as the year of <b>expected graduation</b>.
    <ul>
      <li>For example, students who enrolled in 2014 are expected to graduate in 2019. Their bylaw year is 2019.</li>
    </ul>
  </li>
  <li>
    If your bylaw year does not exist, you can submit it for reviewal using the <b>submit</b> button. It'll be added shortly afterwards.
    <ul>
      <li>A popup dialog will appear. Choose the bylaw year you wish to add, along with the official bylaw pdf file.</li>
      <li>The possible bylaw years shown are up to the next 5 academic years only.</li>
      <li>Only PDF files are allowed.</li>
    </ul>
  </li>
  <li>Choose your department from the dropdown menu.</li>
  <li>
    <b>Color codes:</b>
    <ul>
      <li>
        <b style="color:#0000FF"> Passed </b>-
        <b style="color:#FFA500"> Requirements met </b>-
        <b style="color:#FF0000"> Requirements not met </b>
      </li>
      <li>
        <b style="color:#1abc9c"> Passed (Elective) </b>-
        <b style="color:#d5d500"> Requirements met (Elective) </b>-
        <b style="color:#aa0000"> Requirements not met (Elective) </b>
      </li>
    </ul>
  </li>
  <li>Only select courses which you have already passed. As you select these courses, other courses will be available</li>
  <li>Humanity courses are present in the bottom as they aren't prerequisites of any courses</li>
  <li>Deselecting a course will remove all other courses that depends on it</li>
  <li>Senior project 1 can only be registered after completing 129 credit hours (plus other prerequisites if present)</li>
</ul>
