<b>Instructions</b>
<ul>
  <li>
    <b>Color codes:</b>
    <ul>
      <li>
        <b style="color:#0000FF"> Passed </b>-
        <b style="color:#FFA500"> Requirements met </b>-
        <b style="color:#FF0000"> Requirements not met </b>
      </li>
      <li>
        <b style="color:#1abc9c"> Passed (Elective) </b>-
        <b style="color:#d5d500"> Requirements met (Elective) </b>-
        <b style="color:#aa0000"> Requirements not met (Elective) </b>
      </li>
    </ul>
  </li>
  <li>Only select courses which you have already passed. As you select these courses, other courses will be available</li>
  <li>Humanity courses are present in the bottom as they aren't prerequisites of any courses</li>
  <li>Deselecting a course will remove all other courses that depends on it</li>
  <li>Senior project 1 can only be registered after completing 129 credit hours (plus other prerequisites if present)</li>
</ul>