<h2 [pageview]="'Disclaimer'">Welcome to SSP Helper!</h2>
<p>
  This web application helps you to know what courses you have met its prerequisites.
</p>
<b>Who is this for?</b>
<ul>
  <li>Students who failed one or more courses.</li>
  <li>Students who withdrawed a course or an entire term.</li>
</ul>
<p>Basically, if you're behind the proposed study plan of your department, this app is for you. Otherwise, you can exit as it's not of use to you.</p>

<h4 style="color:#FF0000" class="alert-warning">IMPORTANT DISCLAIMER! PLEASE READ!</h4>
<ol>
  <li>This web app is NOT affiliated with Alexandria University by any means.</li>
  <li>SSP Helper only shows you what courses you've met its prerequisites. That's all.</li>
  <li>There might be errors with the output of this app. Please revise your options with your advisor prior to actual registration.</li>
  <li>Be careful as sometimes the prerequisites of courses are changed without informing the students. So SSP Helper might not be updated to the latest changes yet. (This happened with both CAE and GPE departments)</li>
  <li>Completing the prerequisites of a certain course doesn't mean you can register it. It might not open for registration after all.</li>
  <li>Some courses are more important than others. The output of this app is NOT a recommendation. It Just shows you the possibilities.</li>
  <li>
    If you encounter an error with the prerequisites (or a bug in general), you can:
    <ul>
      <li>
        <a href="https://github.com/louay-hesham/ssp_helper/issues/new">Create an issue in GitHub</a>
         (you need a GitHub account)
       </li>
      <li>Or <a href="mailto:louay.hesham@gmail.com?Subject=SSP%20Helper%Bug">send me an email</a></li>
      <li>Or contact me directly</li>
    </ul>
  </li>
</ol>